/* SVG */

#svg {
	width: 45vw;
	position: relative;
	align-items: center;
  	justify-content: center;
  	flex-direction: column;
}

/* --- */

#svg__sponsors {
	z-index: 6;
	max-width: 45vw;
	height: auto;
	position: absolute;
	/*visibility: hidden;*/
}

#svg__logos {
	z-index: 5;
	max-width: 45vw;
	height: auto;
	position: absolute;
	/*visibility: hidden;*/
}

.svg__design {
	z-index: 4;
	position: absolute;
}

#svg__pattern {
	z-index: 3;
	max-width: 45vw;
	height: auto;
	position: absolute;
}

.svg__background {
	z-index: 2;
	position: absolute;
	mix-blend-mode: multiply;

}

#svg__baseimage {
	z-index: 1;
	width: 100%;
	height: auto;
}


#design-edit {
	border: 1px solid black;
}
