/* SVG */

#svg {
	width: 554px;
	position: relative;
	align-items: center;
  	justify-content: center;
  	flex-direction: column;
}

/* --- */

#svg__sponsors {
	z-index: 6;
	max-width: 554px;
	height: auto;
	position: absolute;
	/*visibility: hidden;*/
}

.svg__design {
	z-index: 4;
	position: absolute;
}

#svg__pattern {
	z-index: 3;
	max-width: 554px;
	height: auto;
	position: absolute;
}

.svg__background {
	z-index: 2;
	position: absolute;
	mix-blend-mode: multiply;

}

#svg__baseimage {
	z-index: 1;
	width: 100%;
	height: auto;
}




/* Modal */

#modal {
  background: rgba(0,0,0,0.4);
  display: none;
  position: fixed;
  z-index: 20;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100%;
  overflow-y: hidden;
}

.modal-content {
  background: #FFF;
  margin: 2% auto;
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  animation: fadeIn 1s;
}

#options {
	display: flex;
	flex-direction: row!important;
}

.button {
	margin: 5px 10px;
	cursor: pointer;
	display: inline-block;
}

.options {
	display: flex;
	flex-direction: row!important;
}



/* Temp text */

h5 {
	font-size: 0.7em;
}

/* Print */

@media print {

	.edit-garment, .delete, .duplicate, .rearrange-up, .rearrange-down{
		display: none;
	}

}